---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.0
  name: jsonservers.example.com
spec:
  group: example.com
  names:
    kind: JsonServer
    listKind: JsonServerList
    plural: jsonservers
    singular: jsonserver
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: JsonServer is the Schema for the jsonservers API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: spec defines the desired state of JsonServer
            properties:
              jsonConfig:
                type: string
              replicas:
                format: int32
                type: integer
            required:
            - jsonConfig
            type: object
          status:
            description: status defines the observed state of JsonServer
            properties:
              message:
                type: string
              replicas:
                description: Replicas is the current number of replicas
                format: int32
                type: integer
              state:
                description: |-
                  For Kubernetes API conventions, see:
                  https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#typical-status-properties
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      scale:
        specReplicasPath: .spec.replicas
        statusReplicasPath: .status.replicas
      status: {}
